//Design System Colors

$white: #ffffffff;
$background: #070724;
$dark-grey: #38384F;
$light-grey: #838391;
$light-blue: #419EBB;
$yellow: #EDA249;
$purple: #6F2ED6;
$rust: #D14C32;
$light-rust: #d83A34;
$orange: #CD5120;
$sea-green: #1EC2A4;
$blue: #2D68F0;